/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("/assets/l.jpg");    
    background-size: cover;
    height:100%;
    /* opacity: 0.7; */
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
     opacity: 0 !important; 
}