<div class="border">
    <div class="head">
       Let's Play the MUSIC !!
       <button  (click)="AddMusic()" class="align" data-toggle="modal" data-target="#AddMusicPop">Add</button>
    </div>
    <div class="body">
        <button  (click)="PlayMusic('notify')" class="align">Lalala</button>
        <button  (click)="PlayMusic('notify_sound')" class="align">Melody</button>
        <button  (click)="PlayMusic('ting')" class="align">Ting</button>
        <audio MusicPlayList [MusicListNo]='1' id="notify"></audio>
        <audio MusicPlayList [MusicListNo]='2'id="notify_sound"></audio>
        <audio MusicPlayList [MusicListNo]='3' id="ting"></audio>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AddMusicPop" role="Add Music Popup">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Music</h4>
            </div>
            <div class="modal-body">
              <input type="file" (change)="AddMusic($event)">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>
    